{% extends "base.html" %}
{% load static %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm col-md-2 col-lg-2"></div>
            <div class="col-sm col-md-8 col-lg-8">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        {% if message.tags == "error" %}
                            <div class="alert alert-danger alert-dismissible fade show mt-5" role="alert">
                                <strong>{{ message }}</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% else %}
                            <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
                                <strong>{{ message }}</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="card shadow rounded mt-5">
                    <div class="card-body p-5">
                        <div class="card-title fs-5 fw-bold">To reset your password, enter your email address</div>
                        <hr>
                        <form method="post" action="/forgot-password">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Confirm email address</label>
                                <input type="confirm-email" name="confirm-email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-2 col-lg-2"></div>
        </div>
    </div>

{% endblock %}