{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .bulsu-banner {
      font-weight: 900;
      {#font-size: 40px;#}
    }

    .bulsu-banner .letter {
      display: inline-block;
      line-height: 1em;
    }
</style>
<div class="flex h-screen">
  <div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
                {% if message.tags == "error" %}
                  <div class="rounded-md bg-red-50 p-4">
                    <div class="flex">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: mini/x-circle -->
                        <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
                        </svg>
                      </div>
                      <div class="ml-3">
                        <h3 class="text-sm font-medium text-red-800">{{ message }}</h3>
                      </div>
                    </div>
                  </div>
                  {% elif message == "success" %}
                    <div class="rounded-md bg-green-50 p-4">
                      <div class="flex">
                        <div class="flex-shrink-0">
                          <!-- Heroicon name: mini/check-circle -->
                          <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                          </svg>
                        </div>
                        <div class="ml-3">
                          <h3 class="text-sm font-medium text-green-800">{{ message }}</h3>
                        </div>
                      </div>
                    </div>
                  {% endif %}
              {% endfor %}
          </ul>
        {% endif %}
        <div class="">
             <img class="h-40 w-auto m-auto" src="{% static 'images/bulsu_logo.png' %}" alt="Your Company">
            <h2 class="mt-6 text-3xl font-bold tracking-tight text-gray-900 text-center">Sign in to your account</h2>
            <p class="mt-2 text-sm text-gray-600 text-center">
              Or
              <a href="/signup" class="font-medium text-[#763435]">create your own account</a>
            </p>
        </div>
      </div>

      <div class="mt-8">

        <div class="mt-6">
          <form method="POST" action="/signin" class="space-y-6">
            {% csrf_token %}
            <div>
              <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
              <div class="mt-1">
                <input id="username" name="username" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
              </div>
            </div>

            <div class="space-y-1">
              <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
              <div class="mt-1">
                <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
              </div>
            </div>

            <div>
              <button type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-[#763435] py-2 px-4 text-sm font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-[#763435] focus:ring-offset-2">Sign in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="relative hidden w-0 flex-1 lg:block">
    <img class="absolute inset-0 h-full w-full object-cover" src="{% static 'images/bulsu_wallpaper.jpg' %}" alt="">
    <div class="absolute inset-0 bg-[#763435] mix-blend-multiply"></div>
    <div class="relative sm:py-40 my-auto">
      <h1 class="text-center text-4xl font-bold sm:text-4xl lg:text-5xl tracking-wider p-10">
        <span class="block text-white my-2">Welcome to</span>
        <span class="block text-white my-2">Bulacan State University</span>
        <span class="block text-white  bulsu-banner my-2">Faculty Management System</span>
      </h1>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script type="application/javascript">
    // Wrap every letter in a span
    var textWrapper = document.querySelector('.bulsu-banner');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    anime.timeline({loop: true})
      .add({
        targets: '.bulsu-banner .letter',
        translateX: [40,0],
        translateZ: 0,
        opacity: [0,1],
        easing: "easeOutExpo",
        duration: 1200,
        delay: (el, i) => 500 + 30 * i
      }).add({
        targets: '.bulsu-banner .letter',
        translateX: [0,-30],
        opacity: [1,0],
        easing: "easeInExpo",
        duration: 1100,
        delay: (el, i) => 100 + 30 * i
      });
</script>
{% endblock %}